<!doctype html>
<html ng-app="eplApp">
	<meta charset="utf-8">
	<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>

    <link rel="import" href="bower_components/core-scaffold/core-scaffold.html">
  	<link rel="import" href="bower_components/core-item/core-item.html"> 
  	<link rel="import" href="bower_components/paper-input/paper-input.html">
  	<link rel="import" href="bower_components/paper-fab/paper-fab.html">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/angular-material.min.css">
	<title>Node Chat App</title>

	<link rel="stylesheet" href="css/style.css">
	<script src="modules/angular.js"></script>
  	<script src="modules/angular-material.min.js"></script>
  	<script type="text/javascript" src="modules/angular-ui-router.js"></script>
	<script src="modules/angular-route.js"></script>
	<script src="modules/angular-resource.js"></script>
	<script src="modules/satellizer.min.js"></script>
	<script src="modules/webcam.min.js"></script>
	<script src="modules/socket.io-1.4.5.js"></script>
	<script src="modules/angular-animate.min.js"></script>
	<script src="modules/angular-aria.min.js"></script>
	<script src="modules/angular-messages.min.js"></script>

    

	<body ng-app="eplApp" ng-controller="MainCtrl">
		<ui-view></ui-view>

		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/services.js"></script>
	</body>
</html>