<!-- <div class="container">

      <form class="form-signin" ng-submit="logIn()" style="margin-top:30px;">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="form-group">  
        <input type="email" class="form-control" placeholder="Email address" ng-model="user.email">
        </div>
        <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
        </div>
        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
      </form>

      <p ng-show="message" style="color:#ff0000">{{message}}</p>

</div> --> <!-- /container -->
<link rel="stylesheet" type="text/css" href="css/login/style.css">
<div class="wrapper">
    <div class="container">
        <h1>Welcome</h1>
        
        <form class="form" ng-submit="logIn()">
            <input type="text" placeholder="Email" ng-model="user.email">
            <input type="password" placeholder="Password" ng-model="user.password">
            <button type="submit" id="login-button">Login</button>
        </form>
    </div>
    
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>